<a href="https://colab.research.google.com/github/Dhruvrajrana/batch-50_python/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionaries

In [2]:
Dict={'Name':"Dhruv","SAP_ID":590013722,'Age':19,'Address':"Haryana"}
print(Dict)
Dict['Gender']='Male'
print(Dict)
Dict['Age']=20
print(Dict)
print(sorted(Dict.keys()))
print("Name is : ",Dict.pop('Name'))
for key in Dict:
  print(key,end=' ')
print("\nVALUES : ",end=' ')
for value in Dict.values():
  print(value,end=' ')
for key,value in Dict.items():
  print(key,value,"\t",end=' ')

{'Name': 'Dhruv', 'SAP_ID': 590013722, 'Age': 19, 'Address': 'Haryana'}
{'Name': 'Dhruv', 'SAP_ID': 590013722, 'Age': 19, 'Address': 'Haryana', 'Gender': 'Male'}
{'Name': 'Dhruv', 'SAP_ID': 590013722, 'Age': 20, 'Address': 'Haryana', 'Gender': 'Male'}
['Address', 'Age', 'Gender', 'Name', 'SAP_ID']
Name is :  Dhruv
SAP_ID Age Address Gender
VALUES :  590013722 20 Haryana Male SAP_ID 590013722 	 Age 20 	 Address Haryana 	 Gender Male

Nested Dictionaries

In [3]:
Students={'Shiv':{'CS':90,'DS':89,'CSA':92},'Sadhvi':{'CS':91,'DS':87,'CSA':94},'Krish':{'CS':93,'DS':92,'CSA':88}}
for key,val in Students.items():
  print(key,val)

Shiv {'CS': 90, 'DS': 89, 'CSA': 92}
Sadhvi {'CS': 91, 'DS': 87, 'CSA': 94}
Krish {'CS': 93, 'DS': 92, 'CSA': 88}