<a href="https://colab.research.google.com/github/Dhruvrajrana/batch-50_python/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l1=[3,4,5,6,7,8]
l1.insert(2,10)
print(l1)

[3, 4, 10, 5, 6, 7, 8]

In [2]:
l1=[]
for i in range(20):
  if i%2==0:
    l1.append(i)
print(l1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

write a program to inset a prime number to a list using list complhension

In [5]:
l1=[i for i in range(20)if i%2==0]
print(l1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [33]:
num = 100
l1 = [i for i in range(2, int(num**0.5) + 1) if num % i == 0]
print(l1)

[2, 4, 5, 10]

In [31]:
l1=[i for i in range(1000)if i%3==0 if i%5==0 if i%7==0]
print(l1)

[0, 105, 210, 315, 420, 525, 630, 735, 840, 945]

In [34]:
l1=[i for i in range(1000)if i%3==0 and i%5==0 and i%7==0]
print(l1)

[0, 105, 210, 315, 420, 525, 630, 735, 840, 945]