<a href="https://colab.research.google.com/github/Dhruvrajrana/batch-50_python/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
T1=(1,2,3,4,5)
T2=('ONE','TWO','THREE','FOUR','FIVE')
T3=(1,'ONE',6,7.5,'DHRUV')
print(T1)
print(T2)
print(T3)

(1, 2, 3, 4, 5)
('ONE', 'TWO', 'THREE', 'FOUR', 'FIVE')
(1, 'ONE', 6, 7.5, 'DHRUV')

In [5]:
T1=(1,2,3,4,5)
T2=('ONE','TWO','THREE','FOUR','FIVE')
T3=(1,'ONE',6,7.5,'DHRUV')
T1[:]

(1, 2, 3, 4, 5)

In [8]:
T1=(1,2,3,4,5)
T2=('ONE','TWO','THREE','FOUR','FIVE')
T3=(1,'ONE',6,7.5,'DHRUV')
T1[-2:]

(4, 5)

In [11]:
T1=(1,2,3,4,5)
T2=('ONE','TWO','THREE','FOUR','FIVE')
T3=(1,'ONE',6,7.5,'DHRUV')
T1[-1]

5

In [12]:
T1=(1,2,3,4,5)
T2=('ONE','TWO','THREE','FOUR','FIVE')
T3=(1,'ONE',6,7.5,'DHRUV')
T1[::]

(1, 2, 3, 4, 5)

In [17]:
T1=(1,2,3,4,5,6,8)
T2=('ONE','TWO','THREE','FOUR','FIVE')
T3=(1,'ONE',6,7.5,'DHRUV')
T1[1:6:2]

(2, 4, 6)

In [18]:
T1=(1,2,3,4,5)
T2=('ONE','TWO','THREE','FOUR','FIVE')
T3=(1,'ONE',6,7.5,'DHRUV')
T1[::-1]

(5, 4, 3, 2, 1)

In [19]:
T1=(1,2,3,4,5)
T2=('ONE','TWO','THREE','FOUR','FIVE')
T3=(1,'ONE',6,7.5,'DHRUV')
T1[::-2]

(5, 3, 1)

In [21]:
T1=(1,2,3,4,5)
T2=('ONE','TWO','THREE','FOUR','FIVE')
T3=(1,'ONE',6,7.5,'DHRUV')
T4=T1+T2
print(T4)

(1, 2, 3, 4, 5, 'ONE', 'TWO', 'THREE', 'FOUR', 'FIVE')

In [22]:
T1=(1,2,3,4,5)
T2=('ONE','TWO','THREE','FOUR','FIVE')
T3=(1,'ONE',6,7.5,'DHRUV')
T2[0][0]

'O'

In [30]:
T1=(1,2,3,4,5)
T2=('ONE','TWO','THREE','FOUR','FIVE',(5,8),('FOUR'))
T3=(1,'ONE',6,7.5,'DHRUV')
print(T2[5][1])

8