<a href="https://colab.research.google.com/github/Dhruvrajrana/batch-50_python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("dhruv")

dhruv

keywords and identifiers

In [5]:
a=10+10
print(a)
a=10+10+\
 20+20+20+\
  30+20+10
print(a)

20
140

In [10]:
L1=['a',
    'e',
    'i',
    'o',
    'u',]
L1

['a', 'e', 'i', 'o', 'u']

In [15]:
#assignment
mystring='''hi, my name is dhruv'\n 'and i am studing in upes'''
print(mystring)

hi, my name is dhruv'
 'and i am studing in upes

In [17]:
num1=int(input('enter the first number'))
num2=int(input('enter the second number'))
sum=num1+num2
sum

enter the first number20
enter the second number30

50

In [18]:
num1=int(input('enter the first number'))
num2=int(input('enter the second number'))
sum=num1*num2
sum

enter the first number20
enter the second number30

600

In [19]:
num1=float(input('enter the first number'))
num2=float(input('enter the second number'))
sum=num1*num2
sum

enter the first number30
enter the second number99

2970.0

In [20]:
num1=float(input('enter the first number'))
num2=int(input('enter the second number'))
sum=num1+num2
sum

enter the first number20
enter the second number99

119.0

In [22]:
20==30

False

In [23]:
20!=30

True

In [1]:
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

15
5
50
2.0
0

In [2]:
a=17
b=3
print(a//b)
print(a/b)
print(a**b)

5
5.666666666666667
4913

In [4]:
a=10
b=5
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

True
False
True
False
False
True

In [5]:
a=10
b=-a
print(b)

-10

In [9]:
a=10
b=5
print(a&b)

0

In [25]:
a=10
b=5
if (a>b) & (a==b):
  print("success")
else:
  print("fail")

fail